@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  width: 100%;
  padding: 24px 24px 14px 24px;
  z-index: 2;
  overflow-x: visible;
  font-family: "Barlow Condensed", open sans;
  background: transparent;

  .toggler {
    position: absolute;
    right: 24px;
    top: 34px;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .nav {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    padding-top: 30%;
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    right: -100%;
    @supports (backdrop-filter: blur(20px)) {
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
    }

    @include transition(right 0.2s linear);

    &--open {
      right: 0;
    }

    &__menu__item {
      text-decoration: none;
      color: white;
      display: block;
      padding: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px;

    .logoWrapper {
      padding: 24px 38px;
    }
    .nav {
      position: static;
      min-height: unset;
      padding-top: 0%;
      transform: translateX(0%);

      &__menu {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        &__item {
          display: flex;
          align-items: center;
          height: 100%;
          border-bottom: 2px solid transparent;
          transition: border-color 0.3s ease;
          font-size: 1.8vw;
          font-weight: 300;
          font-family: "Barlow Condensed", sans-serif;
          letter-spacing: 2px;

          span {
            font-weight: bolder;
            margin-right: 5px;
          }
        }

        &__item:hover {
          border-bottom: 2px solid rgba(#ffff, 0.2);
        }
        .active {
          border-bottom: 2px solid white;
        }
      }
    }

    .toggler {
      display: none;
    }
  }
}

@media screen and(min-width:991px) {
  .header {
    padding-top: 38px;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      width: 33%;
      top: 65%;
      left: 12%;
      z-index: 3;
    }

    .nav {
      width: 58%;

      &__menu__item {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 1.2vw;
        letter-spacing: 4px;
        font-weight: 300;

        span {
          font-weight: 500;
        }
      }
    }
  }
}

// @supports (-moz-appearance: none) {
//   .header {
//     .nav {
//       background-color: rgba(0, 0, 0, 0.9);
//     }
//   }
// }
