@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.wrapper {
  animation: slideTop;
  animation-duration: 1s;
  animation-timing-function: ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
}

.page {
  color: white;
  background-position: center;
  min-height: 100vh;
  transition: 0.5s ease;
  background-attachment: fixed;
}

p {
  font-size: 4vw;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 15vw;
  font-family: "Bellefair", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 5vw;
  font-family: "Barlow Condensed", sans-serif;
}
h3 {
  font-size: 4.5vw;
  font-family: "Barlow Condensed", sans-serif;
}

h4 {
  font-family: "Bellefair", sans-serif;
  font-size: 4.5vw;
}
h5 {
  font-size: 7.3vw;
  font-family: "Bellefair", sans-serif;
}
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.7vw;
  font-weight: lighter;
}

@keyframes slideTop {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0vh;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 10.5vw;
  }

  h2 {
    font-size: 2.7vw;
  }

  h3 {
    font-size: 2.6vw;
  }

  h4 {
    font-size: 3.1vw;
  }

  h5 {
    font-size: 3.7vw;
  }

  h6 {
    font-size: 2.1vw;
  }

  p {
    font-size: 2.1vw;
  }

  .wrapper {
    padding: 8% 0;
  }
}

@media screen and (min-width: 991px) {
  .page {
    height: 100vh;
  }

  .wrapper {
    height: unset;
  }

  h2 {
    font-size: 1.9vw;
  }

  h3 {
    font-size: 1.9vw;
  }

  h4 {
    font-size: 2.25vw;
  }
  h5 {
    font-size: 2vw;
  }

  h6 {
    font-size: 1.11vw;
  }

  p {
    font-size: 1.25vw;
  }
}
