@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.crew {
  background-color: $richBlack;

  h4 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.6);
  }
  h5 {
    font-weight: lighter;
    margin: 10px 0;
  }

  h2 {
    font-weight: lighter;
    padding: 10px 0;
    margin-bottom: 15px;
    letter-spacing: 3.5px;
    text-align: center;
    span {
      color: rgba(255, 255, 255, 0.2);
      margin-right: 15px;
    }
  }

  &__crewmember {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  &__imageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      bottom: 0;
    }
  }
  &__image {
    width: 43%;
  }

  &__bio {
    width: 95%;
    line-height: 25px;
    margin: 0 auto;
    color: $lavanderBlue;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column-reverse;
  }
  .glide__bullets {
    padding: 30px;
  }
  .glide__bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);

    &--active {
      background-color: white;
    }
  }
}

@media screen and (min-width: 768px) {
  .crew {
    .wrapper {
      padding-bottom: 0%;
    }
    h2 {
      text-align: left;
      margin-left: 5vw;
      padding: 0;
    }
    h4 {
      margin-top: 3%;
    }
    h5 {
      font-size: 5.2vw;
    }

    p {
      width: 67%;
    }

    &__crewmember {
      flex-direction: column;
      justify-content: start;
    }
    &__info {
      flex-direction: column;
    }

    &__image {
      width: 54%;
    }
    &__imageWrapper {
      &::after {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .crew {
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
    background-size: cover;

    .wrapper {
      padding: 5% 0 0 0;
      height: 100%;
      position: relative;
      overflow: visible;
    }
    h5 {
      font-size: 4vw;
    }
    &__image {
      width: 100%;
    }
    &__imageWrapper {
      width: 35%;
      justify-content: end;
    }

    &__crewmember {
      flex-direction: row;
      overflow: visible;
      height: 100%;
    }
    .glide,
    .glide__track,
    .glide__slides,
    .glide__slide,
    .glide__slide--active {
      height: 100%;
      overflow: visible;
    }

    &__info {
      flex-direction: column;
      justify-content: center;
      text-align: left;
      width: 40%;
      margin: 0 10vw 0 5vw;
    }

    p {
      width: 100%;
      margin-bottom: 8%;
      text-align: left;
      font-weight: lighter;
    }
    h4 {
      text-align: left;
    }

    .glide__bullet:first-child {
      margin-left: 0px;
    }

    .glide__bullet {
      height: 1.1vw;
      width: 1.1vw;
    }

    .glide__bullets {
      padding: 30px 0;
      display: flex;
    }
  }
}
