@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.destination {
  background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-attachment: fixed;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  &__heading {
    font-weight: lighter;
    letter-spacing: 3.5px;
    text-align: center;

    &__number {
      color: rgba(255, 255, 255, 0.25);
      margin-right: 10px;
    }
  }

  &__imageWrapper {
    width: 45%;
    display: block;
    margin: 10% auto;
    animation-name: spin;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__image {
    width: 100%;
  }

  .sliderButtons__wrapper {
    display: flex;
    justify-content: center;
  }

  .sliderButton {
    font-size: 4vw;
    font-family: "Barlow Condensed", sans-serif;
    background: transparent;
    color: $lavanderBlue;
    border: none;
    padding: 5px 0;
    margin: 0 10px;
  }

  .glide__bullet--active {
    border-bottom: 2px solid white;
    color: white;
  }

  &__destInfo {
    text-align: center;
    padding: 0 30px;
  }

  &__destName {
    font-weight: lighter;
    margin-top: 35px;
  }

  &__destDescription {
    font-weight: lighter;
    margin-bottom: 20px;
    line-height: 25px;
    color: $lavanderBlue;
  }
  &__hr {
    border: 1px solid rgba(208, 214, 249, 0.1);
  }
  h6 {
    color: $lavanderBlue;

    margin: 20px;
    letter-spacing: 2.5px;
  }
  h5 {
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
