@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.destination {
  background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-attachment: fixed;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  &__heading {
    font-weight: lighter;
    letter-spacing: 3.5px;
    text-align: center;

    &__number {
      color: rgba(255, 255, 255, 0.25);
      margin-right: 10px;
    }
  }

  &__imageWrapper {
    width: 45%;
    display: block;
    margin: 10% auto;
    animation-name: spin;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__image {
    width: 100%;
  }

  .sliderButtons__wrapper {
    display: flex;
    justify-content: center;
  }

  .sliderButton {
    font-size: 4vw;
    font-family: "Barlow Condensed", sans-serif;
    background: transparent;
    color: $lavanderBlue;
    border: none;
    padding: 5px 0;
    margin: 0 10px;
  }

  .glide__bullet--active {
    border-bottom: 2px solid white;
    color: white;
  }

  &__destInfo {
    text-align: center;
    padding: 0 30px;
  }

  &__destName {
    font-weight: lighter;
    margin-top: 35px;
  }

  &__destDescription {
    font-weight: lighter;
    margin-bottom: 20px;
    line-height: 25px;
    color: $lavanderBlue;
  }
  &__hr {
    border: 1px solid rgba(208, 214, 249, 0.1);
  }
  h6 {
    color: $lavanderBlue;

    margin: 20px;
    letter-spacing: 2.5px;
  }
  h5 {
    font-weight: lighter;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .destination {
    background-image: url("/src/assets/destination/background-destination-tablet.jpg");

    &__heading {
      width: calc(100% - 7px);
      text-align: left;
      margin-left: 9vw;
    }

    &__imageWrapper {
      width: 40%;
    }

    .sliderButton {
      font-size: 2.1vw;
      font-weight: lighter;
      letter-spacing: 2.5px;
      margin: 0 15px;
    }

    &__destDescription {
      width: 80%;
      margin: 0 auto 60px auto;
    }

    &__traveldata {
      padding-top: 10px;
      display: flex;
      justify-content: center;

      &__time,
      &__distance {
        padding: 0 10px;
      }
    }

    &__hr {
      width: 85%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 991px) {
  .destination {
    background-image: url("/src/assets/destination/background-destination-desktop.jpg");

    .wrapper {
      padding: 0;
    }

    h1 {
      font-size: 7vw;
    }

    h2 {
      margin-left: 24%;
    }

    p {
      margin: 0;
      width: 60%;
    }

    hr {
      width: 65%;
      margin: 4% 0;
    }
    &__imageWrapper {
      width: 30%;
    }

    .glide__slide {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    .slide__body {
      width: 50%;
    }

    &__destInfo {
      text-align: left;
      width: 100%;
      padding: 0;
    }
    .glide__bullets {
      justify-content: start;
    }

    .glide__bullet {
      font-size: 1.3vw;
    }

    &__traveldata {
      justify-content: start;

      &__distance {
        margin-right: 10%;
      }
    }

    h6 {
      margin: 20px 0;
    }
  }
}
