@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.technology {
  background-image: url(/src/assets/technology/background-technology-mobile.jpg);
  color: white;

  &__imgWrapper {
    margin-top: 30px;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  .glide__bullets {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  .glide__bullet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: $richBlack;
    color: white;
    margin: 0 10px;

    &:hover,
    &--active {
      color: $richBlack;
      background-color: white;
    }
  }

  h6 {
    font-weight: lighter;
    letter-spacing: 2px;
    color: $lavanderBlue;
  }
  h5 {
    font-weight: lighter;
    margin: 10px 0 15px 0;
  }
  h2 {
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px 0;
    word-spacing: 5px;
    span {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      margin-right: 15px;
    }
  }

  p {
    color: $lavanderBlue;
    line-height: 24px;
  }

  &__textContent {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .technology {
    background-image: url("/src/assets/technology/background-technology-tablet.jpg");
    background-size: cover;

    h2 {
      width: 100%;
      text-align: left;
      margin-left: 10vw;
    }

    h5 {
      font-size: 5.2vw;
    }

    p {
      width: 65%;
      margin: 0 auto;
      font-weight: lighter;
    }

    &__imgWrapper {
      height: 50%;
    }

    .glide__bullets {
      padding: 60px 0;
    }

    .glide__bullet {
      height: 7vw;
      width: 7vw;
    }
  }
}

@media screen and(min-width:991px) {
  .technology {
    background-image: url("/src/assets/technology/background-technology-desktop.jpg");
    background-size: cover;

    h5 {
      font-size: 3.9vw;
    }

    h2 {
      margin-left: 22vw;
    }
    .glide__slide {
      display: flex;
      flex-direction: row-reverse;
    }
    &__imgWrapper {
      width: 90%;
    }
    &__body {
      display: flex;
      align-items: center;
      padding-left: 10vw;
    }

    &__textContent {
      width: 60%;
      text-align: left;
      margin: 0 5vw;
    }
    p {
      width: 100%;
      line-height: 30px;
    }
    .glide__bullets {
      flex-direction: column;
      padding: 0px;
      height: 55%;
      justify-content: space-between;
    }
    .glide__bullet {
      height: 5.5vw;
      width: 5.5vw;
    }
  }
}
