@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.technology {
  background-image: url(/src/assets/technology/background-technology-mobile.jpg);
  color: white;

  &__imgWrapper {
    margin-top: 30px;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  .glide__bullets {
    padding: 30px 0;
    display: flex;
    justify-content: center;
  }

  .glide__bullet {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: $richBlack;
    color: white;
    margin: 0 10px;

    &:hover,
    &--active {
      color: $richBlack;
      background-color: white;
    }
  }

  h6 {
    font-weight: lighter;
    letter-spacing: 1px;
    color: $lavanderBlue;
  }
  h5 {
    font-weight: lighter;
    margin: 10px 0 15px 0;
  }
  h3 {
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px 0;
    word-spacing: 5px;
    span {
      color: rgba(255, 255, 255, 0.4);
      font-weight: bold;
      margin-right: 15px;
    }
  }

  p {
    color: $lavanderBlue;
    line-height: 24px;
  }

  &__textContent {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
