// transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin xl-text {
  font-family: "Barlow Condensed", open sans;
  font-size: 80px;
}

@mixin lg-text {
  font-family: "Barlow Condensed", open sans;
  font-size: 56px;
}

@mixin md-text {
  font-family: "Barlow Condensed", open sans;
  font-size: 4vw;
}
@mixin spin {
}
